Config { font = "xft:Jet Brains Mono Nerd Font:pixelsize=12:antialias=true:hinting=true"
       , additionalFonts = [ "xft:Jet Brains Mono Nerd Font:pixelsize=15:antialias=true:hinting=true"
                           , "xft:fontawesome 6 Free Solid:pixelsize=14"
                           , "xft:Jet Brains Mono Nerd Font:pixelsize=15:antialias=true:hinting=true"
                           ]

       , border = FullB
       , borderColor = "#11111b"
       , borderWidth = 3
       , bgColor = "#11111b"
       , fgColor = "#cdd6f4"
       , alpha = 255
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "/home/sv/.config/xmobar/xpm/" --default: "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run Weather "EGPF" ["-t","<station>: <tempC>c",
                                          "-L","18","-H","25",
                                          "--normal","green",
                                          "--high","red",
                                          "--low","#89b4fa"] 18000
                    , Run Network "enp2s0" ["-L","0","-H","1000",
                                          "--normal","#cdd6f4","--high","#cdd6f4"] 10
                    , Run UnsafeStdinReader
                    , Run Network "wlp3s0" ["-L","0","-H","1000",
                                          "--normal","#cdd6f4","--high","#cdd6f4"] 10
                    , Run Cpu ["-L","3","-H","50",
                               "--normal","#a6e3a1","--high","red"] 10
                    , Run Memory ["-t","Mem: <usedratio>%"] 10
                    , Run Swap [] 10
                    , Run Com "uname" ["-s","-r"] "" 36000
                    , Run Date "%a %b %_d %Y %H:%M:%S" "date" 10
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = " %UnsafeStdinReader% }\
                    \{ <fc=#f9e2af>%cpu%</fc> <fc=#585b70>|</fc> <fc=#f38ba8>%memory% %swap%</fc> <fc=#585b70>|</fc> <fc=#89b4fa>%enp2s0% %wlp3s0%</fc> <fc=#585b70>|</fc> <fc=#fab387>%date%</fc> <fc=#585b70>|</fc>" }
